/* Start Variables */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color-green: green ;
    --main-color:#2196F3 ;
    --main-color-alt:#0167f3 ;
    --main-transition:0.3s;
    --section-backgroung: #ececec;
    --color-gray: #888;
    --color2-gray: #e5e5e5;
    --color3-gray: #eee;
    --color4-gray: #dee2e6;
    --color5-gray: #8a8a8a;
    --color6-gray: #ccc;
    --color7-gray: #ffffff62;
    --color-text: #081828;
    --bg-color: #fff ;
    --bg2-color: #f9f9f9 ;
    --random-color: #2d3a48 ;
}

/* dark */
:root{
}






/* Start Swiper */
swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .swiper-button-next:after, .swiper-button-prev:after{
    display: none;
    color: red !important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background: red;
} */
/* End Swiper */
/* Start main-title */
.main-title{
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (max-width:576px){
    .main-title{
        padding-top: 100px;
        padding-bottom: 60px;
    }
}
.main-title h2{
    text-align: center;
    position: relative;
    margin: 30px;
}
.main-title h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    background-color: var(--main-color-alt);
    height: 3px;
    width: 10%;
}
.main-title p{
    position: relative;
    font-size: 13px;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--color5-gray);
}
/* End main-title */
/* End Variables */
/* Start Global Rules */
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color) ;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.active{
    color:var(--main-color-alt) !important;
}
/* Start nav */
.nav{
    position:relative;
    top: -150px;
    padding: 0;
}
.nav li a{
    background-color: var(--main-color);
}
/* End nav */
/* Start Dark mod */
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border: none;
}
#dark-mod i{
    color: var(--color-gray);
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -114px;
    padding: 0;
}
.dropdown .ul-dark a{
    padding: 10px 15px;
}
.dropdown .ul-dark .dark-custom{
    position: relative; 
}
.dropdown .ul-dark .dark-custom:hover .ul-dark-custom{
    display: flex;
} 
.dropdown .ul-dark .dark-custom .ul-dark-custom{
    position: absolute; 
    background-color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    left: -160px;
    top: 5px;
    width: 160px;
    height: 130px;
    display: none;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li{
    padding: 15px;
    height: 30px;
    width: 30px;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    margin: 10px;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(1){
    background-color: #0167f3;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(2){
    background-color: #009688;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(3){
    background-color: #e91e63;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(4){
    background-color: #ffeb3b;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(5){
    background-color: #673ab7;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(6){
    background-color: #795548;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li a{

}
/* End Dark mod */
/* Start header3 */
.header3{
    box-shadow: 0 7px 30px rgba(0,0,0,.075);
}
.header3  h1{
    color: var(--color-text);
    font-size: 16px;
    margin: 30px;
    display: flex;
}
@media (max-width:768px){
    .header3  h1{
        justify-content:center;
    }
}
.header3 ul{
    display: flex;
    gap: 10px;
    justify-content: end;
    margin: 15px;
}
.header3 ul i{
    font-size: 13px;
}
@media (max-width:768px){
    .header3 ul{
        justify-content:center;
    }
}
.header3 ul li{
    font-size: 16px;
    color: var(--color-gray);
}
.header3 ul li i{
    color: var(--color-gray);
    transition: var(--main-transition);
}
.header3 ul li a {
    color: var(--color-gray);
    transition: var(--main-transition);
}
.header3 ul li a:hover{
    color: var(--main-color-alt);
}
/* End header3 */
/* Start Blog */
.blog{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--bg2-color);
}
.blog .blog1{
    background-color: var(--bg-color);
    border: solid 1px var(--color2-gray);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 30px;
}
.blog .blog1 h5{
    font-size: 16px;
    margin-bottom: 25px;
    position: relative;
    font-weight: 500;
    z-index: 1;
}
.blog .blog1 input[type=text]{
    border: none;
}
.blog .blog1 form{
    border: 1px solid var(--color3-gray);
    width: fit-content;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.blog .blog1 input[type=text]:focus{
    outline: none;
}
.blog .blog1 button{
    background-color: var(--main-color-alt);
    transition: var(--main-transition);
    border: none;
    padding: 10px 12px;
    border-radius: 4px;

}
.blog .blog1 button:hover{
    background-color: var(--color-text);
}
.blog .blog1 button i{
    color: var(--bg-color);
}
/* 2 */
.blog .blog2{
    background-color: var(--bg-color);
    border: solid 1px var(--color2-gray);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 30px;
}
.blog .blog2 h4{
    color: var(--color-text);
    font-size: 16px;
    margin-bottom: 25px;
}
.blog .blog2 .boxs{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.blog .blog2 .boxs .box{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.blog .blog2 .boxs .box img{
    width: 80px;
    border-radius: 4px;
    height: 80px;
}
.blog .blog2 .boxs .box .info-image{
    
}
.blog .blog2 .boxs .box .info-image h6{
    font-size: 14px;
    font-weight: normal;
    color: var(--color-text);
    transition: var(--main-transition);
}
.blog .blog2 .boxs .box .info-image h6:hover{
    color: var(--main-color-alt);
}
.blog .blog2 .boxs .box .info-image p{
    display: flex;
    gap: 10px;
    color:var(--color-gray) ;
    font-size: 12px;
}
/* 3 */
.blog .blog3{
    background-color: var(--bg-color);
    border: solid 1px var(--color2-gray);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 30px;
}
.blog .blog3 h6{
    color: var(--color-text);
    font-size: 16px;
    margin-bottom: 25px;
}
.blog .blog3 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blog .blog3 ul li{
    color: var(--color-gray);
}
.blog .blog3 ul a{
    color: var(--color-gray);
    transition: var(--main-transition);
    margin-right: 5px;
}
.blog .blog3 ul a:hover{
    color: var(--main-color-alt);
}
/* 4 */
.blog .blog4{
    background-color: var(--bg-color);
    border: solid 1px var(--color2-gray);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 30px;
}
.blog .blog4 h6{
    color: var(--color-text);
    font-size: 16px;
    margin-bottom: 25px;
}
.blog .blog4 .tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.blog .blog4 .tags a{
    color: var(--color-gray);
    background-color: var(--bg-color);
    border-radius: 4px;
    border: 1px solid var(--color3-gray) ;
    padding: 10px;
    margin: 0 5px 10px 0;
    transition: var(--main-transition);
}
.blog .blog4 .tags a:hover{
    background-color: var(--main-color-alt);
    color: var(--bg-color);
}
/* product */
.blog .product{
    margin-bottom: 30px;
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.blog .product img{
    width: 100%;
    border-radius: 4px;
}
.blog .product .info{
    margin: 20px 10px;
}
.blog .product .info h5{
    font-size: 14px;
    color: var(--color-gray);
    font-weight: 400;
}
.blog .product .info h3{

}
.blog .product .info h3 a{
    color: var(--color-text);
    font-size: 19px;
    font-weight: 500;
    transition: var(--main-transition);
}
.blog .product .info h3 a:hover{
    color: var(--main-color-alt);
}
.blog .product .info p{
    font-size: 12px;
    margin-top: 20px;
    color: var(--color-gray);
}
.blog .product .info-btn{
    
}
.blog .product .info-btn button{
    margin: 5px 10px 10px;
    padding: 12px 24px;
    background-color: var(--bg-color);
    color: var(--color-text);
    border: var(--color4-gray) 1px solid;
    font-size: 14px;
    transition: var(--main-transition);
    border-radius: 4px;
}
.blog .product .info-btn button:hover{
    color: var(--bg-color);
    background-color: var(--main-color-alt);
    border-color: transparent;
}
.blog .next{
}
.blog .next ul{
    display: flex;
    gap: 5px;
}
.blog .next ul li{
    background-color: var(--bg-color);
    color: var(--color-text);
    font-size: 14px;
    border-radius: 4px;
    padding: 6px 18px;
    text-align: center;
    border: 1px solid var(--color3-gray);
    transition: var(--main-transition);
}
.blog .next ul li:hover{
    background-color: var(--main-color-alt);
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
}
.blog .next ul li:nth-child(2){
    background-color: var(--main-color-alt);
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
}
/* End Blog */







