/* Start Variables */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color-green: green ;
    --main-color:#2196F3 ;
    --main-color-alt:#0167f3 ;
    --main-transition:0.3s;
    --section-backgroung: #ececec;
    --color-gray: #888;
    --color2-gray: #e5e5e5;
    --color3-gray: #eee;
    --color4-gray: #dee2e6;
    --color5-gray: #8a8a8a;
    --color6-gray: #ccc;
    --color7-gray: #ffffff62;
    --color8-gray: #666;
    --color-text: #081828;
    --bg-color: #fff ;
    --bg2-color: #f9f9f9 ;
    --random-color: #2d3a48 ;
}

/* dark */
:root{
}






/* Start Swiper */
swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .swiper-button-next:after, .swiper-button-prev:after{
    display: none;
    color: red !important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background: red;
} */
/* End Swiper */
/* Start main-title */
.main-title{
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (max-width:576px){
    .main-title{
        padding-top: 100px;
        padding-bottom: 60px;
    }
}
.main-title h2{
    text-align: center;
    position: relative;
    margin: 30px;
}
.main-title h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    background-color: var(--main-color-alt);
    height: 3px;
    width: 10%;
}
.main-title p{
    position: relative;
    font-size: 13px;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--color5-gray);
}
/* End main-title */
/* End Variables */
/* Start Global Rules */
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color) ;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.active{
    color:var(--main-color-alt) !important;
}
/* Start nav */
.nav{
    position:relative;
    top: -150px;
    padding: 0;
}
.nav li a{
    background-color: var(--main-color);
}
/* End nav */
/* Start Dark mod */
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border: none;
}
#dark-mod i{
    color: var(--color-gray);
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -114px;
    padding: 0;
}
.dropdown .ul-dark a{
    padding: 10px 15px;
}
.dropdown .ul-dark .dark-custom{
    position: relative; 
}
.dropdown .ul-dark .dark-custom:hover .ul-dark-custom{
    display: flex;
} 
.dropdown .ul-dark .dark-custom .ul-dark-custom{
    position: absolute; 
    background-color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    left: -160px;
    top: 5px;
    width: 160px;
    height: 130px;
    display: none;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li{
    padding: 15px;
    height: 30px;
    width: 30px;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    margin: 10px;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(1){
    background-color: #0167f3;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(2){
    background-color: #009688;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(3){
    background-color: #e91e63;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(4){
    background-color: #ffeb3b;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(5){
    background-color: #673ab7;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(6){
    background-color: #795548;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li a{

}
/* End Dark mod */
/* Start header3 */
.header3{
    box-shadow: 0 7px 30px rgba(0,0,0,.075);
}
.header3  h1{
    color: var(--color-text);
    font-size: 16px;
    margin: 30px;
    display: flex;
}
@media (max-width:768px){
    .header3  h1{
        justify-content:center;
    }
}
.header3 ul{
    display: flex;
    gap: 10px;
    justify-content: end;
    margin: 15px;
}
.header3 ul i{
    font-size: 13px;
}
@media (max-width:768px){
    .header3 ul{
        justify-content:center;
    }
}
.header3 ul li{
    font-size: 16px;
    color: var(--color-gray);
}
.header3 ul li i{
    color: var(--color-gray);
    transition: var(--main-transition);
}
.header3 ul li a {
    color: var(--color-gray);
    transition: var(--main-transition);
}
.header3 ul li a:hover{
    color: var(--main-color-alt);
}
/* End header3 */

/* Start shop grid */
.shop-grid{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--bg2-color);
}
.shop-grid .search-product{
    background-color: var(--bg-color);
    padding: 30px;
    border: 1px solid var(--color3-gray);
    border-radius: 4px;
    margin-bottom: 30px;
}
.shop-grid .search-product h3{
    margin-bottom: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color2-gray);
    color: var(--color-text);
    font-size: 15px;
    font-weight: 400;
}
.shop-grid .search-product form{
    display: flex;
    width: 100%;
    border: var(--color3-gray) 1px solid;
    border-radius: 4px;
}
.shop-grid .search-product form input[type=text]{
    height: 50px;
    width: 75%;
    border: 1px solid var(--color3-gray);
    border-radius: 6px;
    color: var(--color-text);
    padding: 0 15px;
    padding-right: 50px;
    border: none;
    padding: 5px 10px 0 ;
}
.shop-grid .search-product form input[type=text]:focus{
    outline: none;
}
.shop-grid .search-product form button{
    height: 50px;
    width: 25%;
    background-color: transparent;
    border: none;

}
/* categories */
.shop-grid .categories{
    background-color: var(--bg-color);
    padding: 30px;
    border: 1px solid var(--color3-gray);
    border-radius: 4px;
    margin-bottom: 30px;
}
.shop-grid .categories h3{
    margin-bottom: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color2-gray);
    color: var(--color-text);
    font-size: 15px;
    font-weight: 400;
}
.shop-grid .categories ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.shop-grid .categories li{
    
}
.shop-grid .categories li a{
    color: var(--color8-gray);
    font-size: 16px;
    margin-right: 3px;
    transition: var(--main-transition);
}
.shop-grid .categories li a:hover{
    color: var(--main-color-alt);
}
.shop-grid .categories li span{
    color: var(--color-gray);
    font-size: 14px;
}
/* Price-Range */
.shop-grid .price-range{
    background-color: var(--bg-color);
    padding: 30px;
    border: 1px solid var(--color3-gray);
    border-radius: 4px;
    margin-bottom: 30px;
}
.shop-grid .price-range h3{
    margin-bottom: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color2-gray);
    color: var(--color-text);
    font-size: 15px;
    font-weight: 400;
}
.shop-grid .price-range .container{
    background-color: var(--bg-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-around;
    border-radius: 5px;
}
.shop-grid .price-range input[type="range"]{
    position: relative;
    appearance: none;
    width: 100%;
    height: 80%;
    background-color: var(--color2-gray);
    border-radius: 8px;
    outline: none;
    margin: 20px 0 5px;
}
.shop-grid .price-range input[type="range"]::-webkit-slider-runnable-track{
    appearance: none;
    height: 8px;
}
.shop-grid .price-range input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--main-color-alt);
    /* pointer-events: auto; */
    cursor: pointer;
    margin-top: -6px;
    border: none;
}
.shop-grid .price-range input[type="range"]:active::-webkit-slider-thumb{
    background-color: var(--bg-color);
    border: 3px solid var(--main-color-alt);
}
.shop-grid .price-range #slider-value{
    width: 80px;
    position: relative;
    background-color: var(--color-text);
    color: var(--bg-color);
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    
}
/* Start filter by brand */
.shop-grid .filter-by-brand{
    background-color: var(--bg-color);
    padding: 30px;
    border: 1px solid var(--color3-gray);
    border-radius: 4px;
    margin-bottom: 30px;
}
.shop-grid .filter-by-brand h3{
    margin-bottom: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color2-gray);
    color: var(--color-text);
    font-size: 15px;
    font-weight: 400;
}
.shop-grid .filter-by-brand ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.shop-grid .filter-by-brand li{
    
}
.shop-grid .filter-by-brand li a{
    color: var(--color8-gray);
    font-size: 16px;
    margin-right: 3px;
    transition: var(--main-transition);
}
.shop-grid .filter-by-brand li a:hover{
    color: var(--main-color-alt);
}
.shop-grid .filter-by-brand li span{
    color: var(--color-gray);
    font-size: 14px;
}
.shop-grid .filter-by-brand li input[type=checkbox]{
    margin-right: 5px ;
}
/* filter-by-price */
.shop-grid .filter-by-price{
    background-color: var(--bg-color);
    padding: 30px;
    border: 1px solid var(--color3-gray);
    border-radius: 4px;
    margin-bottom: 30px;
}
.shop-grid .filter-by-price h3{
    margin-bottom: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color2-gray);
    color: var(--color-text);
    font-size: 15px;
    font-weight: 400;
}
.shop-grid .filter-by-price ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.shop-grid .filter-by-price li{
    
}
.shop-grid .filter-by-price li a{
    color: var(--color8-gray);
    font-size: 16px;
    margin-right: 3px;
    transition: var(--main-transition);
}
.shop-grid .ffilter-by-price li a:hover{
    color: var(--main-color-alt);
}
.shop-grid .filter-by-price li span{
    color: var(--color-gray);
    font-size: 14px;
}
.shop-grid .filter-by-price li input[type=checkbox]{
    margin-right: 5px ;
}
/* End shop grid */

























