/* Start Variables */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color-green: green ;
    --main-color:#2196F3 ;
    --main-color-alt:#0167f3 ;
    --main-transition:0.3s;
    --section-backgroung: #ececec;
    --color-gray: #888;
    --color2-gray: #e5e5e5;
    --color3-gray: #eee;
    --color4-gray: #dee2e6;
    --color5-gray: #8a8a8a;
    --color6-gray: #ccc;
    --color7-gray: #ffffff62;
    --color-text: #081828;
    --bg-color: #fff ;
    --bg2-color: #f9f9f9 ;
    --random-color: #2d3a48 ;
}

/* dark */
:root{
}






/* Start Swiper */
swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .swiper-button-next:after, .swiper-button-prev:after{
    display: none;
    color: red !important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background: red;
} */
/* End Swiper */
/* Start main-title */
.main-title{
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (max-width:576px){
    .main-title{
        padding-top: 100px;
        padding-bottom: 60px;
    }
}
.main-title h2{
    text-align: center;
    position: relative;
    margin: 30px;
}
.main-title h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    background-color: var(--main-color-alt);
    height: 3px;
    width: 10%;
}
.main-title p{
    position: relative;
    font-size: 13px;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--color5-gray);
}
/* End main-title */
/* End Variables */
/* Start Global Rules */
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color) ;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.active{
    color:var(--main-color-alt) !important;
}
/* Start nav */
.nav{
    position:relative;
    top: -150px;
    padding: 0;
}
.nav li a{
    background-color: var(--main-color);
}
/* End nav */
/* Start Dark mod */
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border: none;
}
#dark-mod i{
    color: var(--color-gray);
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -114px;
    padding: 0;
}
.dropdown .ul-dark a{
    padding: 10px 15px;
}
.dropdown .ul-dark .dark-custom{
    position: relative; 
}
.dropdown .ul-dark .dark-custom:hover .ul-dark-custom{
    display: flex;
} 
.dropdown .ul-dark .dark-custom .ul-dark-custom{
    position: absolute; 
    background-color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    left: -160px;
    top: 5px;
    width: 160px;
    height: 130px;
    display: none;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li{
    padding: 15px;
    height: 30px;
    width: 30px;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    margin: 10px;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(1){
    background-color: #0167f3;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(2){
    background-color: #009688;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(3){
    background-color: #e91e63;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(4){
    background-color: #ffeb3b;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(5){
    background-color: #673ab7;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li:nth-child(6){
    background-color: #795548;
}
.dropdown .ul-dark .dark-custom .ul-dark-custom li a{

}
/* End Dark mod */
/* Start single-product */
.single-product{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--bg2-color);
}
.single-product .top-area{
    padding: 30px;   
    background-color: var(--bg-color);
    border: var(--color3-gray) 1px solid;
}
.single-product .top-area .big-img{
    background-color: var(--bg-color);
    border: var(--color3-gray) 1px solid;
}
.single-product .top-area .big-img img{
    width: 100%;
}
.single-product .top-area .images{
    display: flex;
    margin: 15px 0;
}
.single-product .top-area .images img{
    width: 18.5%;
    border: var(--color3-gray) 1px solid;
    padding: 10px;
    margin: 0 5px;
}
.single-product .top-area .produt-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 20px;
}
.single-product .top-area .produt-info .title{
    font-size: 22px;
    font-weight: 500;
    color: var(--color-text);
    margin-bottom: 8px;
}
.single-product .top-area .produt-info .category{
    color: var(--color-gray);
    margin-bottom: 15px;
}
.single-product .top-area .produt-info .category a{
    color: var(--color-gray);
    transition: var(--main-transition);
}
.single-product .top-area .produt-info .category a:hover{
    color: var(--main-color-alt);
}
.single-product .top-area .produt-info .price{
    color: var(--color-text);
    font-weight: 400;
}
.single-product .top-area .produt-info .price del{
    color: var(--color-gray);
    margin-left: 10px;
    font-weight: 400;
}
.single-product .top-area .produt-info .info-text{
    color: var(--color-gray);
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color3-gray);
}
/*  */
.single-product .top-area .produt-info .color{
    
}
.single-product .top-area .produt-info .color h6,
.single-product .top-area .produt-info .battery h6,
.single-product .top-area .produt-info .quantity h6{
    color: var(--color-gray);
    margin-bottom: 15px;
    font-size: 12px;
    font-size: 400;
}
@media (max-width:768px){
    .single-product .top-area .produt-info .color h6{
        margin: 0;
    }
    .single-product .top-area .produt-info .quantity h6{
        margin: 10px 0;
    }
}
.single-product .top-area .produt-info .color form{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 20px;
}
@media (max-width:768px){
    .single-product .top-area .produt-info .color form{
        margin: 10px 0;
    }
}
.single-product .top-area .produt-info .color form input[type=checkbox]{
    appearance: none ;
    background-color: var(--bg-color);
    height: 20px;
    width: 20px;
    border: 2px solid var(--color-text);
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.single-product .top-area .produt-info .color form input[type=checkbox]:nth-of-type(1){
    
}
.single-product .top-area .produt-info .color form input[type=checkbox]:nth-of-type(2){
    border-color: var(--main-color-alt);
}
.single-product .top-area .produt-info .color form input[type=checkbox]:nth-of-type(3){
    border-color: red;
}
.single-product .top-area .produt-info .color form input[type=checkbox]:nth-of-type(4){
    border-color: green;
}








.single-product .top-area .produt-info .color form input[type=checkbox]::after{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 11px;
    height: 30px;
    width: 30px;
    display: flex;

    position: absolute;
    left: 50%;
    top: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: var(--main-transition);
}
.single-product .top-area .produt-info .color form input[type=checkbox]:checked::after{
    opacity: 1;
}
.single-product .top-area .produt-info .color form input[type=checkbox]:nth-child(1):after{
    background-color: var(--color-text);
    border-color: var(--color-text);    
    color: var(--bg-color); 
}
.single-product .top-area .produt-info .color form input[type=checkbox]:nth-child(2):after{
    background-color: var(--main-color-alt);
    border-color: var(--main-color-alt);
    color: var(--bg-color);     
}
.single-product .top-area .produt-info .color form input[type=checkbox]:nth-child(3):after{
    background-color:  red;
    border-color: red;
    color: var(--bg-color); 
}
.single-product .top-area .produt-info .color form input[type=checkbox]:nth-child(4):after{
    background-color:  green;
    border-color: green;
    color: var(--bg-color); 
}
.single-product .top-area .produt-info .battery select,
.single-product .top-area .produt-info .quantity select{
    padding: 14px 10px;
    height: 46px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--color2-gray);
    width: 100%;
}
.single-product .top-area .produt-info .battery select:focus,
.single-product .top-area .produt-info .quantity select:focus{
    outline: none;
}
.single-product .top-area .produt-info .battery select option,
.single-product .top-area .produt-info .quantity select option{
    padding: 10px;
}
.single-product .top-area .produt-info button{
    margin-top: 10px;
}
.single-product .top-area .produt-info .add-to-cart{
    background-color: var(--main-color-alt);
    color: var(--bg-color);
    height: 45px;
    width: 100%;
    border: transparent 1px solid;
    border-radius: 3px;
    transition: var(--main-transition);
}
.single-product .top-area .produt-info .add-to-cart:hover{
    background-color: var(--color-text);
}
.single-product .top-area .produt-info .compare,
.single-product .top-area .produt-info .wishlist{
    background-color: var(--bg-color);
    color: var(--color-gray);
    border: 1px solid var(--color3-gray);
    height: 45px;
    width: 100%;
    border-radius: 3px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    transition: var(--main-transition);
}
.single-product .top-area .produt-info .compare:hover,
.single-product .top-area .produt-info .wishlist:hover{
    background-color: var(--main-color-alt);
    color: var(--bg-color);
}
          /* big-area */
.single-product .big-area{
    padding: 30px;   
    background-color: var(--bg-color);
    border: var(--color3-gray) 1px solid;
    margin-top: 30px;
    margin-bottom: 30px;
}
.single-product .big-area h5{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--color-text);
    font-size: 22px;
}
.single-product .big-area .details p{
    color: var(--color-gray);
    margin: 20px 0;
}
.single-product .big-area .features ul{
    display: flex;
    gap: 13px;
    flex-direction: column;
}
@media (max-width:768px){
    .single-product .big-area .features ul{
        margin-bottom: 30px;
    }
}
.single-product .big-area .features ul li{
    margin-left: 15px;
    position: relative;
    color:var(--color-gray);
}
.single-product .big-area .features ul li::before{
    content: "";
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    height: 7px;
    width: 7px;
    background-color: var(--main-color-alt);
    border-radius: 50%;
}
.single-product .big-area .info-area1,
.single-product .big-area .info-area2{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.single-product .big-area .info-area2 ul{
    display: flex;
    gap: 13px;
    flex-direction: column;
}
.single-product .big-area .info-area2 ul li{
    position: relative;
    color:var(--color-gray);
}
/* botom-area */
.single-product .botom-area .overall{
    padding: 30px;   
    background-color: var(--bg-color);
    border: var(--color3-gray) 1px solid;
    margin-top: 15px;
    margin-bottom: 30px;
}
.single-product .botom-area h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    color: var(--color-text);
}
.single-product .botom-area .overall ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.single-product .botom-area .overall ul li{
    display: flex;
    gap: 10px;
    position: relative;
}
.single-product .botom-area .overall ul li span{
    color: var(--color-gray);
}
.single-product .botom-area .overall ul li .stars{
    display: flex;
    gap: 3px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}
.single-product .botom-area .overall ul li i{
    font-size: 14px;
    color: #ffa000;
}
.single-product .botom-area .overall button.overall-btn{
    transition: var(--main-transition);
    width: 100%;
    margin-top: 20px;
    background-color: #ffa000 ;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    color: var(--bg-color);

}
.single-product .botom-area .overall button.overall-btn:hover{
    background-color: var(--color-text) ;
}
.single-product .botom-area .latest-reviews{
    padding: 30px;   
    background-color: var(--bg-color);
    border: var(--color3-gray) 1px solid;
    margin-top: 15px;
    margin-bottom: 30px;
    gap: 10px;
}
.single-product .botom-area .latest-reviews .review{
    display: flex;
}
.single-product .botom-area .latest-reviews .review img{
    width: 60%;
    border-radius: 50%;
    margin-left: 10px;
}
.single-product .botom-area .latest-reviews .review .comment{
    border: 1px solid var(--color3-gray);
    border-radius: 4px;
    padding: 25px;
    margin-bottom: 40px;
    position: relative;
}
.single-product .botom-area .latest-reviews .review .comment::before{
    content: "";
    background-color: transparent;
    top: 35px;
    height: 15px;
    width: 15px;
    background-color: var(--bg-color);
    transform: rotate(46deg);
    left: -8px;
    border: 1px solid;
    border-color: transparent transparent var(--color3-gray) var(--color3-gray);
    position: absolute;
}
.single-product .botom-area .latest-reviews .review .comment h4{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
}
.single-product .botom-area .latest-reviews .review .comment h5{
    font-size: 14px;
    display: block;
    color: var(--color-gray);
    margin-top: 7px;
}
.single-product .botom-area .latest-reviews .review .comment .stars{
    display: flex;
    margin: 10px 0;
    gap: 3px;
}
.single-product .botom-area .latest-reviews .review .comment .stars i{
    font-size: 14px;
    color: #ffa000;
}
.single-product .botom-area .latest-reviews .review .comment p{
    margin-top: 15px;
    color: var(--color-gray);
}
/* modal fade */
.single-product .botom-area .latest-reviews .modal{
    
}
.single-product .botom-area  .modal-body .name,
.single-product .botom-area  .modal-body .email,
.single-product .botom-area  .modal-body .subject,
.single-product .botom-area .modal-body .rating{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.single-product .botom-area  .modal-body .name label,
.single-product .botom-area  .modal-body .email label,
.single-product .botom-area  .modal-body .subject label,
.single-product .botom-area .modal-body .rating label,
.single-product .botom-area .modal-body .review label{
    color: #888;
    font-size: 13px;
    margin-bottom: 5px;
}
.single-product .botom-area  .modal-body .name input[type="text"],
.single-product .botom-area  .modal-body .email input[type="text"],
.single-product .botom-area  .modal-body .subject input[type="text"],
.single-product .botom-area .modal-body .rating select{
    height: 45px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 14px;
    margin-bottom: 20px;
}
.single-product .botom-area  .modal-body .name input[type="text"]:focus,
.single-product .botom-area  .modal-body .email input[type="text"]:focus,
.single-product .botom-area  .modal-body .subject input[type="text"]:focus,
.single-product .botom-area .modal-body .rating select:focus{
    outline: none;
}
.single-product .botom-area .modal-body .review textarea{
    width: 100%;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 12px 12px;
    font-size: 14px;
    margin-bottom: 20px;
}
.single-product .botom-area .modal-body .review textarea:focus{
    outline: 1px solid var(--main-color-alt);
}
.single-product .botom-area .modal-footer button{
    font-size: 16px;
    font-weight: 400;
    padding: 13px 30px;
    border-radius: 0;
    transition: var(--color-text);
}
.single-product .botom-area .modal-footer button:hover{
    background-color: var(--color-text);
}



/* End single-product */
